In [1]:
import pandas
import numpy

In [4]:
numpy.random.randint(1,100,5)

array([71, 55, 30, 30, 11])

In [23]:
dataframe = pandas.DataFrame({'Names' : ['Tejas','Aditya','Sarthak','Prathamesh','Danny'] , 
                              'PRN' : [37,21,28,11,42] ,
                              'Marks' : numpy.random.randint(1,100,5)   
                             })

In [28]:
dataframe.loc[4,'Marks'] = numpy.nan

In [29]:
dataframe

        Names  PRN  Marks
0       Tejas   37   86.0
1      Aditya   21    NaN
2     Sarthak   28   77.0
3  Prathamesh   11   49.0
4       Danny   42    NaN

In [33]:
dataframe.fillna({'Marks' : "Not Calculated"})

        Names  PRN           Marks
0       Tejas   37              86
1      Aditya   21  Not Calculated
2     Sarthak   28              77
3  Prathamesh   11              49
4       Danny   42  Not Calculated

In [47]:
prn = {'PRN' : numpy.random.randint(1,80,5)}

In [49]:
test_type = {'Test_type' : {'CT1' : numpy.random.randint(1,100,5) , 'CT2' : numpy.random.randint(1,100,5) , 'Viva' : numpy.random.randint(1,100,5)}}

NameError: name 'random' is not defined

In [48]:
prn

{'PRN': array([ 2,  2,  8, 57, 28])}