In [1]:
import pandas
import numpy

In [2]:
df1 = pandas.DataFrame({'Name' : ["Tejas" , "Sarthak" , "Prathamesh"] , 'Subject' : ['Python','Java','PHP']})

In [3]:
df2 = pandas.DataFrame({'Name' : ["Aditya" , "Shashank" , "Ali"] , 'Subject' : ['C','Java','PHP']})

In [4]:
df1

         Name Subject
0       Tejas  Python
1     Sarthak    Java
2  Prathamesh     PHP

In [5]:
df2

       Name Subject
0    Aditya       C
1  Shashank    Java
2       Ali     PHP

In [9]:
df1.merge(df2 , how = 'right' , on = 'Subject')
df3 = pandas.DataFrame({'Name' : ["Tejas" , "Sarthak" , "Prathamesh"] , 'Subject' : ['C','Java','Python']})

In [8]:
pandas.merge(df1 , df2 , on = 'Subject' , how = 'outer')

       Name_x Subject    Name_y
0       Tejas  Python       NaN
1     Sarthak    Java  Shashank
2  Prathamesh     PHP       Ali
3         NaN       C    Aditya